// Verdana, Geneva, sans-serif
<html>



<table>
	<tr id= "category">
	
	{{!-- CATEGORY HEADERS HERE --}}
	{{#each categories}}
		<th>
			{{content}}
		</th>
	{{/each}}
	
	</tr>
	
	{{!--REST OF DATA HERE--}}
	{{#each data}}
		<tr class = "data-row">
		
		{{#each this }}
			<td class = data> {{ this }} <td>
		{{/each}}
		
		</tr>
	{{/each}}

</table>


</html>

//type in random gunk like this
