.funstuff{
  width: 1000px;
  margin: 0 auto;
}

header{
  width: 1000px;
}

nav, section{
  float: left;
}

nav{
  width: 300px;
  margin-right: 15px;
}

section{
  width: 685;
}

body{
  background:	#00BFFF;
  color: #F8F8FF;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  margin: 0;
}

header, nav, section{
  border: 2px solid
  border-color: #F8F8FF;
  margin-bottom: 10px;
  border-radius: 3px;
}

header{
  padding: 20px 0;
}

nav, section{
  padding: 200px 0; 
}
    


  
